.naves ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
}

.naves li {
    float: right;
}

.login-trigger1,
.naves  d{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 24px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background-color: #57a7ff;
    color: #57a7ff;
    font-size: 16px;
    border: 1px solid #57a7ff;
    cursor: pointer;
    min-width: 85%;
    max-width: 100%;
    width: auto;
    padding: 10px 14px;
    font-weight: 700;
    vertical-align: middle; 
}

.login-trigger1 {
    border-radius: 0px 0 0 0px;
    width: 200px;
    text-align: center;
}

.login-content1 {
    display: none;
    position: absolute;
    top: 5px;
    z-index:  inherit;
    background: #57a7ff;
    padding: 18px;
    border: 1px solid #57a7ff;
}

naves li .login-content1 {
    right: auto;
    min-width: 150px;
    max-width: 250px;
    width: 200px;
    padding: 14px;
    text-align: left;
}

