/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-jul-2020, 20:39:18
    Author     : lya5
*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modal-table{
    border: hidden;
    padding: 0px 17px 30px 17px;
    width: 100%;
}
.modal-td-left{
    font-size: 11px;
    font-weight: bold;
    background-color: white;
    text-align: left;
    padding-bottom: 9px;
}

.modal-td-right{
    font-size: 14px;
    font-weight: normal;
    background-color: white;
    text-align: right;
    padding-bottom: 9px;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #57a7ff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding-right: 19px;
    background-color: white;
    color: white;
    height: 41px;
}
.modal-header2 {
    padding: 15px 0;
    background-color: #57a7ff;
    color: white;
    text-align: center;
    font-size: 16px;
    
}

.modal-body {
    padding: 0 18px 29px 18px;
    background-color: white;
    color: black;
    text-align: left;
    font-size: 14px;
}

.modal-body-center {
    padding: 0px 0px 31px 0px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 14px;
}
.modal-body2 {
    padding: 24px 0;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 14px;
    
}

.modal-body-title {
    padding: 30px 0px 8px 0px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.modal-footer {
    margin: 0 20px 30px 20px;
    background-color: #fff6dc;
    color: black;
    text-align: center;
    width: 89.44%;
    height: 4.86%;
    font-size: 12px;
    font-weight: normal;
    padding: 17px 0;
        
}

.modal-loader-content{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 125px 150px 175px;
}


.loader-modal {
    position: fixed;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #57a7ff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.5);
    overflow-x: hidden;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}