h1
{
    font-weight: lighter;
}

small
{
    color: firebrick;
}

div.checkbox_select
{
    width: 218px;
    padding-right: 30px;
}

.checkbox_select_anchor
{
    display: block;
    background: white;
    color: rgba(238, 118, 35, 0.5);
    cursor: pointer;
    padding: 5px 5px;
    position: relative;
    border: 1px solid #57a7ff;
    text-align: left;   
}


.expanded .checkbox_select_anchor:after
{
    border-top: 0;
    border-bottom: 10px solid firebrick;
}


.checkbox_select_anchor:hover
{
    background: #ffffff;
    text-align: left;
}

.expanded .checkbox_select_anchor
{
    background: #ffffff;
    text-align: left;
}

div.checkbox_select .select_input
{
    width: 100%;
    cursor: pointer;
}

.checkbox_select_dropdown
{
    display: none;
    background: white;
    border: 1px solid #57a7ff;
}

.checkbox_select_dropdown.show
{
    display: block;
    position: absolute;
}

.checkbox_select_dropdown ul
{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    text-align: left;
   
}
.checkbox_select_dropdown ul li
{
    list-style: none;
    position: relative;
    color: #666;
}
.checkbox_select_dropdown ul li label
{
    position: relative;
    padding: 10px 5px 5px 40px;
    display: block;
    cursor: pointer;
}
.checkbox_select_dropdown ul li label:hover
{
    background: #cbcbcb;
    color: white;
}
.checkbox_select_dropdown ul li input:checked + label
{
    background: #bbb;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.checkbox_select_dropdown ul li input
{
    position: absolute;
    left:0;
    z-index:1;
    display: inline-block;
    height: 100%;
    width: 30px;
    display: none;
}
.checkbox_select_search
{
    width: 100%;
    padding: 10px 0px 5px 0px;

}

.checkbox_select_submit
{
    background: #00A600;
    color: white;
    padding: 10px 5px 5px;
    border: 0;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.hide
{
    display: none;
}

