/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-may-2020, 18:46:31
    Author     : lya5
*/

/*************
  Blue Theme
 *************/
/* overall */
.tablesorter-yellow {
    border-collapse: collapse;
    width: 100%;
}
.tablesorter-yellow th,
.tablesorter-yellow td {
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    width: inherit;
    min-width: 70px;
    max-width: 250px;
    text-align: left;
    padding: 2px;
    text-align: justify;
    border-bottom: 1px solid #979797;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tablesorter-yellow .td-final{

    background-color: #4f5819;
    color: white;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 32px;
}

.tablesorter-yellow .td-first{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    width: inherit;
    min-width: 70px;
    max-width: 250px;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #979797;
    color: #57a7ff;
    padding-left: 16px;
}

.tablesorter-yellow .td-color-text{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    width: inherit;
    min-width: 70px;
    max-width: 250px;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #979797;
    color: #69bd3f;
    padding-left: 16px;
}

.tablesorter-yellow .td-color{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    width: inherit;
    min-width: 70px;
    max-width: 250px;
    text-align: left;
    padding: 2px;
    border-bottom: 1px solid #979797;
    color: black;
    padding: 3px 4px;
    background-color: #e7ffdb;
}


.tablesorter-yellow th {

    width: auto;
    background-color: #c18e00;
    color: #000000;
    font-weight: bold;
}

/* header */
.tablesorter-yellow th,
.tablesorter-yellow thead td {
    background-color: #6c7826;
    color: #ffffff;
    font-size: 11px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}
.tablesorter-yellow tbody td,
.tablesorter-yellow tfoot th,
.tablesorter-yellow tfoot td {
    height: 35px;
    vertical-align: middle;
    padding-left: 14px;
}
.tablesorter-yellow .header,
.tablesorter-yellow .tablesorter-header {
    /* black (unsorted) double arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    /* white (unsorted) double arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
    /* image */
    /* background-image: url(images/black-unsorted.gif); */
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0 12px;
    height: 42px;
    white-space: normal;
    cursor: pointer;
}
.tablesorter-yellow .headerSortUp,
.tablesorter-yellow .tablesorter-headerSortUp,
.tablesorter-yellow .tablesorter-headerAsc {
    background-color: #9fbfdf;
    /* black asc arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    /* white asc arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
    /* image */
    /* background-image: url(images/black-asc.gif); */
}
.tablesorter-yellow .headerSortDown,
.tablesorter-yellow .tablesorter-headerSortDown,
.tablesorter-yellow .tablesorter-headerDesc {
    background-color: #8cb3d9;
    /* black desc arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    /* white desc arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
    /* image */
    /* background-image: url(images/black-desc.gif); */
}
.tablesorter-yellow thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

/* tfoot */
.tablesorter-yellow tfoot .tablesorter-headerSortUp,
.tablesorter-yellow tfoot .tablesorter-headerSortDown,
.tablesorter-yellow tfoot .tablesorter-headerAsc,
.tablesorter-yellow tfoot .tablesorter-headerDesc {
    /* remove sort arrows from footer */
    background-image: none;
}

/* tbody */
.tablesorter-yellow td {
    color: #3d3d3d;
    background-color: #fff;
    padding: 3px 4px;
    vertical-align: top;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
*/
.tablesorter-yellow tbody > tr.hover > td,
.tablesorter-yellow tbody > tr:hover > td,
.tablesorter-yellow tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-yellow tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-yellow tbody > tr.even.hover > td,
.tablesorter-yellow tbody > tr.even:hover > td,
.tablesorter-yellow tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-yellow tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
    background-color: #d9d9d9;
}

.tablesorter-yellow tbody > tr.hover > .td-final,
.tablesorter-yellow tbody > tr:hover > .td-final,
.tablesorter-yellow tbody > tr.even.hover > .td-final,
.tablesorter-yellow tbody > tr.even:hover > .td-final{
    background-color: #4f5819;
}


/* table processing indicator */
.tablesorter-yellow .tablesorter-processing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    /* background-image: url(images/loading.gif) !important; */
    background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-yellow tbody tr.odd > td {
    background-color: #ebf2fa;
}
.tablesorter-yellow tbody tr.even > td {
    background-color: #fff;
}

/* Column Widget - column sort colors */
.tablesorter-yellow td.primary,
.tablesorter-yellow tr.odd td.primary {
    background-color: #99b3e6;
}
.tablesorter-yellow tr.even td.primary {
    background-color: #c2d1f0;
}
.tablesorter-yellow td.secondary,
.tablesorter-yellow tr.odd td.secondary {
    background-color: #c2d1f0;
}
.tablesorter-yellow tr.even td.secondary {
    background-color: #d6e0f5;
}
.tablesorter-yellow td.tertiary,
.tablesorter-yellow tr.odd td.tertiary {
    background-color: #d6e0f5;
}
.tablesorter-yellow tr.even td.tertiary {
    background-color: #ebf0fa;
}

/* caption */
.tablesorter-yellow > caption {
    background-color: #fff;
}

/* filter widget */
.tablesorter-yellow .tablesorter-filter-row {
    background-color: #eee;
}
.tablesorter-yellow .tablesorter-filter-row td {
    background-color: #eee;
    line-height: normal;
    text-align: center; /* center the input */
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-yellow .tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-yellow .tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}
.tablesorter-yellow .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}
/* filters */
.tablesorter-yellow input.tablesorter-filter,
.tablesorter-yellow select.tablesorter-filter {
    width: 98%;
    height: auto;
    margin: 0;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}



